<div class="row">
  <div class="col" id="mainContainer">

    <div class="row" id="seleccionMetodo">
      <div class="col">
        <br>
        <h5>Select Method</h5>
        <select  [(ngModel)]="selectedOption" name="cars" id="cars">
          <option *ngFor="let parameter of parameters" value={{parameter.Index}}>{{parameter.key}}</option>
        
        </select>
        <br>
        <br>
        <button (click)="methodSelect()" class="btn btn-primary">Select</button>
      </div>
      
      

    </div>

    <div class="row" id="parametros">
      <div class="col">
        <form>

          <div class="form-group">
            <label for="exampleFormControlTextarea1">Parameters</label>
            <textarea *ngFor="let parameter of selectedMethod.parameters" value={{parameter.Index}} class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
          </div>
        </form>
      </div>

    </div>

    <div class="row">

    </div>

  </div>
</div>